/* Layouts */
.node#root {
    margin-top:20px;
}
    .node#root > .parents > *{
        padding-top: 0;
    }
.soloChild > .nodeRoot {
    padding-bottom:0;
}
.children > *,
.parents > *,
.soloChild > *{
    display: inline-block;
    vertical-align: top;
    /*padding:20px;*/
}
.nodeRoot {
    padding: 20px 0;
}
.spouse {
    padding: 20px 0 20px 40px;
}
.child {
    padding: 20px 20px 0 20px;
}

.node {
    text-align: center;
    padding: 0;
    margin: 0 20px 0 20px;
    display: inline-block;
}

#top-most .nodeRoot {
    padding-top:0;
}
#top-most .spouse  {
    padding: 0 0 0 40px;
}

/* Styles */
body {
    font-size:30px;
}
#family-tree h3 {
    padding: 10px;
    border-bottom:1px solid teal;
    text-align: center;
}

#currentUser .person{
    color:red;
}

.person {
    border: 1px solid teal;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}

/*.nodeRoot,*/
/*.child {*/
    /*background-size: cover;*/
    /*background: url("../../public/inheritenceLine.png") no-repeat center center;*/
/*}*/
/*.spouse {*/
    /*background-size: cover;*/
    /*background: url("../../public/spouseLine.png") no-repeat center center;*/
/*}*/
.children {
    border-top:5px solid black;
}

/* Edit Tree*/
.person.selected {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
}
    .person.selected > h2 {
        font-size: 30px;
        color: orange;
        border-bottom: 1px solid orange;
        padding: 5px 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        width: 400px;
        margin: 50px auto 30px auto;
    }
    .person.selected #edit-tree {
        position: relative;
        margin: auto;
        width: 400px;
        border: 2px solid black;
        border-radius: 7px;
        background: orange;
        transition: all 0.3s ease-in-out;
        color: white;
    }
        #edit-tree .btn-group > button {
            background:rgb(2,117,216);
        }
        #edit-tree .btn-group,
        #edit-tree  #add-relative {
            margin: 10px;
            width: calc(100% - 20px);
        }
        #edit-tree .btn,
        #edit-tree input,
        #edit-tree div {
            width:100%;
            margin: 0 0 5px 0;
        }
        #edit-tree input {
            height: 35px;
        }
