/* Layouts */
.node#root {
    margin-top:20px;
}
    .node#root > .parents > *{
        padding-top: 0;
    }
.soloChild > .nodeRoot {
    padding-bottom:0;
}
.children > *,
.parents > *,
.soloChild > *{
    display: inline-block;
    vertical-align: top;
    /*padding:20px;*/
}
.nodeRoot {
    padding: 20px 0;
}
.spouse {
    padding: 20px 0 20px 40px;
}
.child {
    padding: 20px 20px 0 20px;
}

.node {
    text-align: center;
    padding: 0;
    margin: 0 20px 0 20px;
    display: inline-block;
}

#top-most .nodeRoot {
    padding-top:0;
}
#top-most .spouse  {
    padding: 0 0 0 40px;
}

/* Styles */
body {
    font-size:30px;
}
#family-tree h3 {
    padding: 10px;
    border-bottom:1px solid teal;
    text-align: center;
}

#currentUser {
    color:red;
}

.person {
    border: 1px solid teal;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
}

/*.nodeRoot,*/
/*.child {*/
    /*background-size: cover;*/
    /*background: url("../../public/inheritenceLine.png") no-repeat center center;*/
/*}*/
/*.spouse {*/
    /*background-size: cover;*/
    /*background: url("../../public/spouseLine.png") no-repeat center center;*/
/*}*/
.children {
    border-top:5px solid black;
}