/* Layouts */
html,
body,
#wrapper,
#root {
    height:100%;
}
#wrapper {
    position: relative;
    margin: auto;
}
footer {
    height:20px;
}
#content {
    text-align: center;
    height: calc(100% - 20px);
    margin:auto;
}
    #content > div {
        display: inline-block;
    }
#treeRoot > .parents > .nodeRoot {
    background:none;
    margin-top:-22px;
}
#treeRoot > .parents > .nodeRoot,
#treeRoot > .parents > .spouse {
    padding-top:0;
    margin-top:-22px;
}

.node#root {
    margin-top:20px;
}
    .node#root > .parents > *{
        padding-top: 0;
    }
.soloChild > .nodeRoot {
    padding-bottom:0;
}
.children > *,
.parents > *,
.soloChild > *{
    display: inline-block;
    vertical-align: top;
    /*padding:20px;*/
}
.nodeRoot {
    padding: 20px 0 0 0;
}
.parents {
    padding-bottom:20px;
}
.spouse {
    padding: 20px 0 0 60px;
}
.child {
    padding: 20px 20px 0 20px;
}

.node {
    text-align: center;
    padding: 0;
    margin: 0 20px 0 20px;
    display: inline-block;
}

#top-most .nodeRoot {
    padding-top:0;
}
#top-most .spouse  {
    padding: 0 0 0 40px;
}

/* Styles */
body {
    font-size:30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#family-tree h3 {
    padding: 10px;
    border-bottom:1px solid teal;
    text-align: center;
}

#currentUser .person{
    color:red;
}

.person {
    border: 1px solid teal;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    font-size: 20px;
    /*transition: all 0.3s ease-in-out;*/
}
/*.person:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px gray inset;
}*/
.nodeRoot,
.spouse {
    margin-top:-22px;
}
.nodeRoot,
.parents {
    background-size: cover;
    background: url("../../public/treePictures/vertical.png") no-repeat center center;
}
#treeRoot > .soloChild > .nodeRoot {
    background:none;
}

.spouse {
    background-size: cover;
    background: url("../../public/treePictures/horizontal.png") no-repeat center center;
}

/*.nodeRoot,
.child {
    background-size: cover;
    background: url("../../public/inheritenceLine.png") no-repeat center center;
}
.spouse {
    background-size: cover;
    background: url("../../public/spouseLine.png") no-repeat center center;
}*/
.children {
    border-top:5px solid black;
    padding-top:22px;
}
.parents {
    margin-top: 22px;
}
.nodeRoot,
.spouse {
    margin-top: -22px;
}
.spouse {
    padding-top:0;
}
.parents > .nodeRoot {
    margin-top: -44px;
}

/* Edit Tree*/
#selected-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.72);
    z-index: 1;
    padding-top:100px;
    border: black;
    border-radius: 0;
}
    #selected-background > span {
        font-size: 30px;
        font-weight: bold;
        color: orange;
        border-bottom: 3px solid orange;
        padding: 5px 20px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        width: 400px;
        margin: 50px auto 30px auto;
    }
    #person-selected{
        position: relative;
        margin: 30px auto 0 auto;
        width: 400px;
        border: 2px solid black;
        border-radius: 7px;
        background: orange;
        transition: all 0.3s ease-in-out;
        color: white;
        z-index: 2;
    }
        #person-selected .btn-group > button {
            background:rgb(2,117,216);
        }
            #person-selected .btn-group .dropdown-divider,
            #person-selected form {
                border-top: 2px solid rgba(0, 0, 0, 0.2);
                margin: 0 5px;
                width: calc(100% - 10px);
            }
            #person-selected .btn-group .dropdown-item {
                background: none;
                border: none;
                margin: 5px 0;
                padding: 5px 0;
                width:100%;
                color: #373a3c;
            }
            #person-selected .btn-group .dropdown-item:hover {
                background: whitesmoke;
            }

        #person-selected .btn-group,
        #person-selected  #add-relative {
            margin: 10px;
            width: calc(100% - 20px);
        }
        #person-selected .btn,
        #person-selected input,
        #person-selected div {
            width:100%;
            margin: 0 0 5px 0;
        }
        #person-selected input {
            height: 35px;
        }
